
@{
    ViewBag.Title = "Painel Administrativo";
}

<h2>Painel Administrativo</h2>

<div class="jumbotron">
    <h1>CadêMeuMédico?</h1>
    <p class="lead">Bem Vindo ao painel administrativo da plataforma CadêMeuMédico. Siga as informaçoes abaixo para completar seu cadastro.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Cadastro Medico.</h2>
        <p>
            Clique abaixo para realizar seu cadastro Profissional em nossa base de dados.
        </p>
        <p><a class="btn btn-default" href="~/Medicos/Create">Clique Aqui! &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Cadastro de Especialidades.</h2>
        <p>Sua especialidade nao esta listada? Clique abaixo para realizar o cadastro de sua especialidade médica.</p>
        <p><a class="btn btn-default" href="~/Especialidades/Create">Clique Aqui! &raquo;</a></p>
    </div>

</div>

