@{
    ViewBag.Title = "Pagina Inicial";
}

<div class="jumbotron">
    <h1>Guia Médico CadêMeuMédico?</h1>
    <p class="lead">Bem Vindo ao guia médico mais completo de Londrina e Região, Clique abaixo para iniciar suas buscas em nosso banco de dados.</p>
    <p><a href="~/Medicos/Busca" class="btn btn-primary btn-lg">Abrir Guia Médico &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Médico?</h2>
        <p>
            Realize seu cadastro em nossa Base de Dados, e divulgue seu serviço/clínica conosco. Clique Abaixo:
        </p>
        <p><a class="btn btn-default" href="~/Usuario/Cadastrar">Realizar Cadastro &raquo;</a></p>
    </div>

    <div class="col-md-6">
        <h2>Médico Cadastrado?</h2>
        <p>
            Realize o Login em nosso Painel administrativo para maiores Informaçoes/Alteraçoes. Clique Abaixo:
        </p>
        <p><a class="btn btn-default" href="~/Painel/Index">Login Painel Administrativo &raquo;</a></p>
    </div>

</div>